<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!--conacat font awesome-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <!--conecat bootstrap-->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div>
        <%- include('../componats/main_header.ejs') %>
        <%- include('../componats/samle_sidebar.ejs') %>
        <%- include('../componats/sidebar_header.ejs') %>
    </div>



    <script src="js/bootstrap.js"></script>
</body>
</html>