<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--conacat font awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!--conecat bootstrap-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">

</head>
<body>
    <div class="main1 d-md-block ">
        <div>
            <%- include('../componats/signin_header.ejs') %>
  
        </div>
    </div>



    <div class="container mt-5 "  >
        <div class="row justify-content-center" style="margin: 0 5%;" >
            
          <div class="col-md-5">
            <div class="card shadow-lg">
              <div class="card-body " >
                <h4 class="text-center mb-4">login</h4>
                <form action="/login" method="post" >
              
                  <% if (messages.error) { %>
                    <div class="alert alert-danger">
                      <%= messages.error %>
                    </div>
                  <% } %>
                  


                  <!-- Email Field -->
                  <div class="mb-3">
                    <label for="username" class="form-label">user name</label>
                    <input type="username" name="username" class="form-control" placeholder="Enter your email" required>
                  </div>
                  <!-- Password Field -->
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
                  </div>
                  <!-- Login Button -->
                  <div class="d-grid">
                    <button type="submit" class="btn" style="background-color:  rgb(109, 209, 235) ;;">Login</button>
                  </div>
                  <!-- Sign-up Link -->
                  <div class="text-center mt-3">
                    <small>Don't have an account? <a href="/signup" class="text-primary">Signup</a></small>
                  </div>
                </form>
              </div>
              
            </div>
            <span style="display: flex; justify-self: center; margin-top: 20vh; ">© 2023 </span>
          </div>
         
        </div>

      </div>
     
     
    
      
    <script src="js/bootstrap.js"></script>
</body>
</html>
