<!-- زر فتح الـ Sidebar -->

<!-- الـ Sidebar -->
<div
  class="offcanvas offcanvas-start"
  id="sidebar"
  style="max-width: 45vh;"
  aria-labelledby="sidebarLabel">
  <div class="offcanvas-header" >
    <button
      type="button"
      class="btn "
      data-bs-dismiss="offcanvas"
      aria-label="Close">
      <i
        class="fa-solid fa-bars "
        style="font-size: 35px; color: rgb(109, 209, 235);"></i>
    </button>

    <div
      class="d-inline-flex"
      style="
        height: 10vh;
        width: 100%;
        background-color: rgb(109, 209, 235); 
        align-items: center;
      ">
      <a class="align-items-center" href="#">
        <img src="imgs/logo2.svg" alt="Logo" class="d-inline-flex" />
      </a>
      <h3
        class="d-inline-flex "
        style="
          margin-left: -20px;
          font-size: x-large;
          color: rgb(248, 248, 248);
        ">
        message me
      </h3>
    </div>
  </div>
  
  <div class="offcanvas-body">
    <div class="" style="margin-left: 4vh; margin-right: 4vh; height: 90vh;">
      <ul style="margin-bottom: 41vh;" class="nav nav-pills nav-flush  flex-column  text-start">

        <li class="nav-item  py-3 border-bottom">
          <a href="#" class="nav-link  hover-icon py-2 " aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="fa-solid fa-paper-plane fa-2x" style=" color: rgb(109, 209, 235);"></i><span style=" margin-left: 3vh; font-size: x-large; color: rgb(1, 139, 173);">message me</span>
          </a>
        </li>
        <li class="nav-item  py-3 border-bottom">
          <a href="#" class="nav-link py-2 hover-icon" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="fa-solid fa-user-plus fa-2x" style="color: rgb(109, 209, 235); "></i><span style=" margin-left: 3vh; font-size: x-large; color: rgb(1, 139, 173);">find frindes</span>
            
          </a>
        </li>
      
        <li class="nav-item py-3">
          <a href="#" class="nav-link py-2 hover-icon border-bottom" title="Customers" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="fa-solid fa-user-circle fa-2x" style="color: rgb(109, 209, 235) ;"></i> <span style=" margin-left: 3vh; font-size: x-large; color: rgb(1, 139, 173);">Profile</span>
          </a>
        </li>
      </ul>
      
      <div class="dropdown border-top">
         <li class="nav-item text-start " style=" list-style: none;">
          <a href="#" class="nav-link  hover-icon "  title="Customers" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="fa-solid fa-user-circle fa-2x" style=" color: rgb(109, 209, 235) ;"></i> <span style=" margin-left: 3vh; font-size: x-large; color: rgb(1, 139, 173);">Profile</span>
          </a>
        </li>
      </div>
    </div>
    
 
 </div>
